* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

html,
body {
  height: 100%;
  width: 100%;
  display: block;
  background-color: #D6C8DF;

}

.header {
  height: 100%;
  width: 100%;
  position: relative;
  color: #332927
}

nav {
  display: flex;
  padding: 0.5% 1%;
  align-items: center;
  justify-content: space-between;

}


/* logo- jobgAlign */
nav img {
  width: 100px;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: #332927;
  /* subject to change */
  text-decoration: none;
  font-size: 23px;

}

.nav-links ul li::after {
  content: '';
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

#homePage {
  display: flex;
  align-items: flex-start;
  /* padding: 30px; */
  /* justify-content: space-between; */
}

#home-page-description {
  border: 20px;
  border: 2px solid black;
  text-align: center;
  font-size: 32px;
  padding-bottom: 56px;
  margin: 0px 60px 60px 150px;
  /* up right down left */
}

/* #description-heading{
  padding-bottom: 40px;
} */

#motivation {
  border: 2px solid black;
  width: 50%;
  margin: 0px 230px 60px 150px;

}

#motivation img {
  width: 500px;
}

#call-to-action {
  align-items: center;
  border: 2px solid black;
  margin: 0px 230px 60px 150px;
  padding: 10px 400px;
  justify-content: center;
  font-size: 35px;
  font-weight: 500;
}

#page2 {
  display: flex;
  padding-left: 200px;
  justify-content: center;
}

.form-group {

  transform: translate(-50%);
  width: 430px;
  background: transparent;
  border: 2px solid rgba(225, 225, 225, .2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  color: white;
  border-radius: 10px;
  padding: 30px 40px;
}

#form-company {
  margin-bottom: 30px;
}

.button {
  border: 2px solid black;
}

.graph-section {
  border: 2px solid black;

}


#page2 h1 {
  font-size: 55px;
  z-index: 2;
  padding-top: 6%;
  text-align: center;
}

#page2 p {
  z-index: 2;
  font-size: 32px;
  /* padding-top: 10%; */
  text-align: center;
  padding-right: 5%;
  padding-left: 5%;
}

.cards {
  gap: 40px;
  display: flex;
  flex-wrap: wrap;
  /* position: relative; */
  padding-top: 3%;
  /* height: 480px; */
  align-items: center;
  justify-content: center;
  color: rgba(37, 33, 33, 0.863);
  font-weight: 550;
}



.cards .card1,
.cards .card2,
.cards .card3,
.cards .card4,
.cards .card5 {
  flex: 1 1 300px;
  /* ✅ responsive width: min 300px, grows as space allows */
  max-width: 400px;
  /* ✅ prevents card from being too wide */
  min-height: 200px;
  /* ✅ ensures reasonable height */

  padding: 20px;
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* font:black; */
  z-index: 4;
  /* text control */
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-align: justify;
  overflow: hidden;
  box-sizing: border-box;
}